:root{
  --blackBorder: 1px solid black;
  --redBorder: 1px solid red;
  --greenBorder: 1px solid green;
  --blueBorder: 1px solid blue;
  --P2rem: 0.2rem 0.2rem;
  --P4rem: 0.4rem 0.4rem;
}

.lightTheme, .darkTheme{
  transition: background-color 1s ease, color 1s ease;
}

.lightTheme{
--primaryColor: #6A0DAD;
--backgroundColor: #F8F9FA;
}

.darkTheme{
  --primaryColor: green;
  --backgroundColor: black;
  --textWhite: white;
}

body{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--backgroundColor);
}

.mainLayoutContainer{
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}

/* NavBar section starts here */
.navBarContainer{
  padding: var(--P2rem);
  width: 22%;
  height: 107.4vh;
  box-sizing: border-box;
  color: var(--textWhite);
  background-color: var(--backgroundColor);
  border-radius: 0.6rem;
}

.navBarHeader{
  padding: var(--P2rem);
  margin-bottom: 0.1rem;
}

.navBarHeader .imageContainer{
  width: 10rem;
  height: 10rem;
  border-radius: 0.6rem;
  margin: 0.1rem auto;
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
  background-color: white;
  overflow: hidden;
  cursor: pointer;
}

.navBarHeader .imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  transition: transform 0.5s ease-in;
}

.navBarHeader .imageContainer:hover img{
  transform: scale(1.05);
}

.nameText{
  text-align: center;
  width: 70%;
  margin: 0.1rem auto;
  font-size: 1.3rem;
  font-weight: bold;
}

.positionText{
  border-radius: 0.4rem;
  padding: var(--P2rem);
  text-align: center;
  width: 60%;
  margin: 0.4rem auto;
  font-size: 0.78rem;
  font-style: italic;
  font-weight: bold;
  box-shadow: 0px 0px 3px 0px grey;
}

.positionText:hover{
  box-shadow: 0px 0px 6px 1px var(--primaryColor);
  cursor: pointer;
}

.navBarFooter{
  padding: var(--P2rem);
  margin-bottom: 0.1rem;
}

.contactInfoCard{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  padding: var(--P2rem);
  margin: 0.2rem 0rem;
}

.contactInfoText{
  width: 80%;
}

.contactInfoText p{
  margin: 0rem;
}

.contactInfoLabel{
  padding: 0rem 0.4rem !important;
  margin: 0.2rem 0rem !important;
  font-weight: bold;
  width: max-content;
  font-size: 1.1rem;
  color: var(--primaryColor);
}

.contactInfoEmail{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#contactInfoEmail{
  border-radius: 0.4rem;
}

.contactInfoEmail p{
  padding: 0;
  margin: 0;
}

.emailText{
  margin: 0.1rem 0rem !important;
  padding: 0rem 0.4rem !important;
}

#contactIcon{
  padding: 1rem 0rem;
  width: 20%;
  font-size: 1.4rem;
  text-align: center;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 2px 0px grey;
}

.fa-solid,.fa-regular, .fa-brands{
  color: var(--primaryColor);
}

.emailText a{
  text-decoration: none;
  color: black;
}

.contactIcons{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  padding: var(--P2rem);
}

.mailIcon{
  display: none;
}

.contactIcons li{
  border-radius: 50%;
  padding: 0.2rem 0.6rem;
  list-style: none;
  width: max-content;
  font-size: 1.3rem;
}

.contactIcons li a i:hover{
  color: white;
  opacity: 0.9;
}

.contactIcons li a{
  text-decoration: none;
  color: black;
}

.fa-linkedin:hover{
  color: #0A66C2 !important;
}

.fa-github:hover{
  color: #333333 !important;
}

.fa-instagram:hover{
  color: #E1306C !important;
}

.fa-envelope:hover{
  color: #EA4335 !important;
}

/* NavBar section ends here */

/* NavBarH section starts here */
.navBarHcontainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--P2rem);
  height: max-content;
  position: sticky;
  top: 0%;
  z-index: 2;
  background-color: var(--backgroundColor);
}

.themButtonContainer{
  padding: var(--P2rem);
  width: max-content;
  border-radius: 0.6rem;
  background-color: white;
}

.button{
  border: 3px solid transparent;
  padding: 0.2rem 0.8rem;
  background-color: var(--textWhite);
  cursor: pointer;
}

.button.active{
  border-color: var(--primaryColor);
  border-radius: 0.6rem;
  transition: all 0.4s ease-in;

}

.navBarHListContainer{
  display: flex;
  padding: var(--P2rem);
  width: max-content;
  gap: 0.6rem;
  margin-right: -0.6rem;
  margin-top: -0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: 0px 0px 4px 1px grey;
}

.activeBg{
  color: var(--primaryColor) !important;
  /* border-bottom: 2px solid var(--primaryColor); */
  font-size: 1.1rem;
}

.unactiveBg{
  border-bottom: none;
}

.navBarHListContainer li{
  list-style: none;
  padding: 0.2rem 0.6rem;
}

.navBarHListContainer li a{
  text-decoration: none;
  color: var(--textWhite);
  background-color: var(--backgroundColor);
  text-transform: uppercase;
}

/* NavBarH section ends here */

/* About page section starts here */
.PageContainer{
  padding: 0rem 0.2rem;
  width: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 107.3vh;
  color: var(--textWhite);
  background-color: var(--backgroundColor);
  border-radius: 0.6rem;
}

.aboutMeText, .aboutMeText2{
  padding: var(--P2rem);
  margin-top: 0.1rem;
}

.aboutMeText h2, .aboutMeText2 h2{
  margin: 0.2rem 0rem;
  padding: var(--P2rem);
  width: max-content;
}

.aboutMeText p{
  text-align: justify;
}

.aboutMeBorderText{
  border-bottom: 2px solid var(--primaryColor);
}

.typeWriteContainer{
  padding: var(--P2rem);
  width: 99%;
  margin: 0.1rem auto;
}

.typeWriteContainer p{
  padding: var(--P2rem);
  margin: 0.2rem 0rem;
  font-size: 1.2rem;
}

.typeWriteContainer h1{
  padding: var(--P2rem);
  margin: 0.4rem 0rem;
  font-size: 2.6rem;
  font-weight: normal;
  text-transform: capitalize;
}

.spanText{
  display: inline-block;
}

.homePageText{
  border-radius: 0.6rem;
  padding: 0.8rem 0.4rem;
  box-shadow: 0px 0px 3px 1px grey;
}

.aboutMeText2 .cardsCotainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.1rem;
  padding: var(--P2rem);
  width: 99%;
  margin: 0.1rem auto;
}

#card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.8rem;
  box-shadow: 0px 0px 3px 0px grey;
  border-radius: 1rem;
  width: 49%;
  padding: 1.4rem 1.4rem;
  margin: 0.4rem 0.4rem;
}

.CardImageCotainer{
  width: 5rem;
  height: 4rem;
  border-radius: 0.4rem;
  margin-left: 0.2rem;
}

.CardImageCotainer img{
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  border: 2px solid white;
  box-shadow: 0px 0px 3px 1px grey;
  background-color: white;
}

.cardInfo{
  width: 85%;
}

.cardInfo p{
  margin: 0;
}

.cardLabel{
  padding: var(--P2rem);
  font-weight: bold;
}

.cardBody{
  padding: var(--P2rem);
  text-align: justify;
}

/* About page section ends here */

/* Resume Page section starts here */
.resumePageContainer{
  position: relative;
  padding: var(--P2rem);
  margin: 0.1rem auto;
}

.resumePageText{
  margin: 0.6rem 0.2rem;
  width: max-content;
  border-bottom: 2px solid var(--primaryColor);
  font-size: 1.6rem;
}

.resumeDownloadBtn{
  position: absolute;
  top: 2%;
  right: 1%;
  border-radius: 0.4rem;
  padding: 0.4rem 0.6rem;
  cursor: pointer;
  background-color: var(--backgroundColor);
  outline: none;
  border: 2px solid grey;
}

.resumeDownloadBtn:hover{
  opacity: 0.8;
}

.resumeDownloadBtn a{
  text-decoration: none;
  color: var(--primaryColor);
}

.resumePageEducation h3{
  margin: 0.8rem 0.8rem;
  font-size: 1.5rem;
}

.educationInfoContainer{
  position: relative;
  padding: var(--P2rem);
}

.educationBody{
  position: relative;
  padding: var(--P4rem);
  margin: 0.2rem 0rem;
  width: 78%;
  left: 5%;
}

.educationBody p{
  margin: 0.6rem 0rem;
}

.graduationTime{
  color: var(--primaryColor);
}

.collegeName{
  font-size: 1.1rem;
  font-weight: bold;
}

.educationTrackerBorder{
  position: absolute;
  top: 30%;
  left: 2%;
  height: 49%;
  width: 0;
  border: 2px dashed yellowgreen;
}

.educationBody::before{
  content: "";
  position: absolute;
  border: 0.4rem solid var(--primaryColor);
  border-radius: 50%;
  right: 103.6%;
  top: 16%;
  z-index: 1;
}

.workExperienceText{
  margin: 0.6rem 0.2rem;
}

.workExperienceText h3{
  margin: 0.8rem 0.8rem;
  font-size: 1.5rem;
}

.workExpereinceInfo{
  position: relative;
  padding: var(--P2rem);
  left: 5.5%;
  width: 90%;
}

.workExpereinceInfo p{
  margin: 0.6rem 0rem;
}

.workPositonName{
  font-size: 1.1rem;
  font-weight: bold;
}

.aboutRole{
  text-align: justify;
  border-radius: 0.6rem;
  padding: 0.8rem 0.4rem;
  box-shadow: 0px 0px 3px 2px grey;
}

.workDuration{
  color: var(--primaryColor);
}

.skillsContainer{
  padding: var(--P2rem);
  margin: 0.4rem auto;
  width: 99%;
}

.skillsHeadingText h3{
  margin: 0.2rem 0rem;
  font-size: 1.5rem;
}

.skillsBody{
  padding: var(--P2rem);
}

.skillsBody p{
  margin: 0.4rem 0rem;
}

.skillLabel{
  padding: 0.2rem 0.8rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.skillProgressBar{
  position: relative;
  border: 1px solid var(--primaryColor);
  width: 96%;
  height: 1.4rem;
  margin-left: 0.8rem !important;
  border-radius: 0.6rem;
}

.skillProgress{
  position: absolute;
  border-radius: 0.6rem;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  height: 1.4rem;
  top: -28%;
  left: -1px;
  background-color: var(--primaryColor);
}

.sillPercentageText{
  font-weight: normal;
  font-size: 0.9rem;
}

#javaSkill{
  width: 80%;
}

#javaScriptSkill{
  width: 90%;
}

#fullStackSkill{
  width: 95%;
}

#msSqlSkill{
  width: 85%;
}

#bootstrapSkill{
  width: 80%;
}

#springBootSkill{
  width: 65%;
}

#reactSkill{
  width: 70%;
}

#jquerySkill{
  width: 80%;
}

/* Resume Page section ends here */

/* Portfolio page section starts here */
.PortfolioPageMainContainer{
  padding: 0rem 0.2rem;
  width: 80%;
  height: 107.3vh;
  color: var(--textWhite);
  background-color: var(--backgroundColor);
  border-radius: 0.6rem;
  overflow-y: scroll;
  scrollbar-width: none;
}

.portfolioPageContainer{
  padding: var(--P2rem);
  margin: 0.1rem auto;
}

.portfolioPageContainer h2{
  margin: 0.4rem;
}

.PortfolioHeadingText{
  width: max-content;
  border-bottom: 2px solid var(--primaryColor);
  font-size: 1.6rem;
}

.portfolioNavbar{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: var(--P2rem);
  width: max-content;
  margin: 1rem 0.4rem;
  background-color: var(--backgroundColor);
}

.portfolioNavbar li{
  padding: 0.2rem 0.6rem;
  list-style: none;
  margin: 0rem;
  font-weight: 500;
}

.portfolioNavbar li a{
  text-decoration: none;
  color: var(--textWhite);
}

.projectResultsContainer{
  padding: var(--P2rem);
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 80vh;
  gap: 0.2rem;
  overflow-y: scroll;
  scrollbar-color: var(--primaryColor) transparent;
}

/* Portfolio page section ends here */

/* Project card section starts here */
.projectCardContainer{
  padding: var(--P2rem);
  width: 30%;
  border-radius: 0.4rem;
  margin: 0.4rem;
  margin-left: 1rem;
  box-shadow: 0px 0px 3px 0px grey;
}

.projectCardContainer .imageContainer{
  width: 100%;
  height: 14rem;
  border-radius: 0.4rem;
  overflow: hidden;
}

.projectCardContainer .imageContainer img{
  width: 100%;
  height: 100%;
  border-radius: 0.4rem;
  transition: transform 0.5s ease;
}

.projectCardContainer .imageContainer:hover img{
  transform: scale(1.1);
}

.projectCardContainer .cardBody{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--P2rem);
}

.projectCardContainer .cardBody p{
  margin: 0.1rem;
}

.projectCardContainer .cardBody .cardTitle{
  padding: var(--P2rem);
  margin: 0.2rem 0rem;
}

.cardIcons{
  display: flex;
  gap: 0.6rem;
  width: max-content;
}

.cardIcons i{
  border: 1px solid var(--primaryColor);
  padding: 0.2rem 0.6rem;
  border-radius: 0.4rem;
}

.cardIcons i:hover{
  opacity: 0.9;
}

.cardIcons a{
  text-decoration: none;
  color: black;
}

/* Project card section ends here */

/* Contact Page section starts here */
.contactPageCotainer{
  padding: var(--P2rem);
  margin: 0.1rem auto;
}

.contactPageCotainer h3{
  padding: var(--P2rem);
  margin: 0.2rem 0rem;
  font-size: 1.8rem;
  width: max-content;
}

.contactText{
  border-bottom: 2px solid var(--primaryColor);
}

.mapCotainer{
  padding: var(--P2rem);
}

.mapsView{
  padding: var(--P2rem);
  width: 99%;
  margin: 0.1rem auto;
  height: 16rem;
}

.contactFormContainer{
  padding: var(--P2rem);
}

.contactFormContainer h4{
  padding: var(--P2rem);
  margin: 0.2rem 0rem;
  font-size: 1.4rem;
  width: max-content;
}

.contactForm{
  padding: var(--P2rem);
}

.nameEmailContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.4rem;
  width: 99%;
  margin: 0.1rem auto;
  margin-top: 0.6rem;
}

.nameContainer, .emailContainer{
  position: relative;
  width: 50%;
}

.messageContainer{
  position: relative;
  padding: var(--P2rem);
  width: 99%;
  margin: 0.1rem auto;
  margin-top: 0.8rem;
}

.nameLabel, .emailLabel{
  position: absolute;
  top: 45%;
  left: 1%;
  font-size: 1.1rem;
  padding: 0rem 0.2rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: var(--primaryColor);
  background-color: transparent;
  opacity: 0.9;
}

.messageLabel{
  position: absolute;
  top: 12%;
  left: 1%;
  font-size: 1.1rem;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  color: var(--primaryColor);
  background-color: transparent;
  opacity: 0.9;
}

.textInput:focus + .nameLabel, .textInput:not(:placeholder-shown) + .nameLabel, .emailInput:focus + .emailLabel, .emailInput:not(:placeholder-shown) + .emailLabel{
  top: -10%;
  left: 0%;
  font-size: 1.1rem;
}

.messageTextarea:focus + .messageLabel, .messageTextarea:not(:placeholder-shown) + .messageLabel{
  top: -4%;
  left: 1%;
  font-size: 1.1rem;
}

.textInput, .emailInput{
  padding: 0.8rem 0.4rem;
  width: 97%;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  outline: none;
  font-size: 1.1rem;
  margin: 0.6rem 0rem;
}

.messageTextarea{
  width: 98%;
  resize: none;
  border: 1px solid #ccc;
  border-radius: 0.4rem;
  outline: none;
  padding: 1rem 0.6rem;
  margin-top: 0.4rem;
  font-size: 1.1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.formSubmitBtn{
  position: absolute;
  top: 74%;
  right: 1%;
  border: 1px solid silver;
  padding: 0.4rem 0.6rem;
  font-size: 1rem;
  width: 14%;
  border-radius: 0.3rem;
  cursor: pointer;
  color: var(--textWhite);
  background-color: var(--backgroundColor);
}

.formSubmitBtn:hover{
  opacity: 0.9;
}

/* Contact Page section ends here */

/* Media queries section starts here */
@media(max-width: 1220px){

  .mainLayoutContainer{
    flex-direction: column-reverse;
  }

  .navBarContainer{
    display: flex;
    width: 100%;
    height: auto;
  }

  .navBarHeader{
    width: 30%;
  }

  .navBarHListContainer{
    margin-right: 0rem;
    margin-top: 0rem;
  }

  .navBarFooter{
    width: 70%;
  }

  .contactInfoCardMainContainer{
    display: flex;
  }

  .contactInfoCard{
    width: 50%;
  }

  .navBarHeader .imageContainer{
    margin-top: 0.4rem;
  }

  .contactIcons{
    gap: 1.6rem;
    padding: 0.6rem 0rem;
  }

  .PageContainer{
    width: auto;
    overflow-y: visible;
    height: auto;
  }

  .PortfolioPageMainContainer{
    width: auto;
    overflow-y: visible;
    height: auto;
  }

  .portfolioNavbar{
    width: auto;
    position: sticky;
    top: 6%;
    margin: 0.2rem 0rem;
    z-index: 3;

  }

  .projectResultsContainer{
    height: auto;
    overflow-y: visible;
  }

}

@media(max-width: 880px){

  .navBarHeader{
    width: 25%;
  }

  .navBarFooter{
    width: 75%;
  }

  .navBarHListContainer{
    margin-right: 0rem;
    margin-top: 0rem;
  }

  .contactInfoCardMainContainer{
    display: flex;
    gap: 0.1rem;
  }

  .navBarHeader .imageContainer{
    width: 7rem;
    height: 7rem;
    margin-top: 0.2rem;
  }

  .nameText{
    font-size: 1rem;
  }

  .positionText{
    font-size: 0.8rem;
  }

  .contactIcons{
    gap: 1.6rem;
    padding: 0.2rem 0rem;
  }

  .aboutMeText2 .cardsCotainer{
    flex-direction: column;
    width: 99%;
    margin: 0.1rem auto;
  }
  
  #card{
    gap: 0.1rem;
    width: auto;
    padding: 0.8rem 0.8rem;
    margin: var(--P2rem);
  }

  .projectCardContainer{
    padding: var(--P2rem);
    width: 44.8%;
    border-radius: 0.4rem;
    margin: 0.4rem;
    margin-left: 1rem;
  }

  .projectResultsContainer{
    justify-content: space-between;
  }

  .textInput, .emailInput{
    width: 96%;
  }
  
  .messageTextarea{
    width: 97%;
  }

  .formSubmitBtn{
    right: 2%;
  }

}

@media(max-width: 788px){

  .navBarHeader{
    width: 20%;
  }

  .navBarFooter{
    width: 80%;
  }

  .navBarHListContainer{
    margin-right: 0rem;
    margin-top: 0rem;
  }

  #birthdayCard, #locationCard{
    display: none;
  }

  .contactInfoCardMainContainer{
    display: flex;
    flex-direction: column;
  }

  .contactInfoCard{
    width: auto;
    margin: 0.1rem;
    padding: 0.1rem;
  }

  .navBarHeader .imageContainer{
    width: 5rem;
    height: 5rem;
  }

  .nameText{
    font-size: 0.7rem;
  }

  .positionText{
    font-size: 0.5rem;
  }

  .projectCardContainer{
    width: 44.8%;
  }

  .applicationsText{
    display: none;
  }

}

@media(max-width: 672px){

  .navBarContainer{
    align-items: center;
  }

  .navBarHeader{
    width: 25%;
  }

  .navBarFooter{
    width: 75%;
  }

  .mailIcon{
    display: block;
  }

  .navBarHListContainer{
    margin-right: -0.2rem;
    margin-top: 0rem;
    box-shadow: none;
  }

  .contactInfoCardMainContainer, .nameText, .positionText, .applicationsText{
    display: none;
  }

  .contactInfoCard{
    width: auto;
    margin: 0.1rem;
    padding: 0.1rem;
  }

  .aboutMeText2 .cardsCotainer{
    flex-direction: column;
    width: 99%;
    margin: 0.1rem auto;
  }
  
  #card{
    padding: 0.6rem 0.6rem;
    margin: 0.1rem;
    font-size: 0.9rem;
    gap: 1rem;
  }

  .navBarHeader .imageContainer{
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
  }

  .navBarHeader .imageContainer img{
    border-radius: 50%;
  }

  .projectCardContainer{
    width: 84%;
    margin: 0.4rem auto;
  }

  .nameEmailContainer{
    display: flex;
    flex-direction: column;
    width: auto;
    gap: 1rem;
  }

  .nameContainer, .emailContainer{
    position: relative;
    width: 101%;
    margin: 0.1rem auto;
    margin-left: 0.2rem;
  }

  .textInput, .emailInput{
    width: 95%;
  }
  
  .messageTextarea{
    width: 96%;
  }

  .formSubmitBtn{
    right: 3%;
    width: 20%;
  }

}

/* Media queries section ends here */